div {
  /* min-width: 100px; */
  /* min-height: 100px; */
  padding: 30;
  border: 1px solid black;
}
#grandparent {
  background: rgb(201, 136, 136);
}
div #parent {
  background: rgb(156, 185, 156);
}
#child {
  background: rgb(131, 114, 117);
}
